@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color01:#8dc9f4;
    --color02: #d6f1fe;
    --color03: #41b9f5;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: 100%;
    /*background-color: #5cd9d7;*/
    /*background-color: var(--color01);*/
    background-image: linear-gradient(#9addfa, #5fb9e6 ,#6cbce7);
  
}


section{
    height: 100%;
    /*Para alinhar os itens:*/
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
 
    width: 320px;
    height: 450px;
    padding: 40px 20px;
    border-radius: 18px;
  
   
    /*background-color: rgb(72, 197, 250);*/
    background-color: var(--color02);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.307);
    transform: translateY(-5%);
    
}

header img{
    width: 100px;
    border-radius: 60%;

}
header h1{
    color: #000000;
    font-size: 1.2em;
    text-align: center;
}
main a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    
}
main li{  
    text-align: center;
    list-style: none;    
    /*background-color: rgba(71, 243, 243, 0.838);*/
    background-color:var(--color03);
  
    width: 230px;
    margin: 7px 0px 20px;
    border-radius: 5px;

    box-shadow: 8px 7px 1px rgba(4, 81, 81, 0.52) ;
}

main li:hover{
    color: var(--color03);
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
    box-shadow: 8px 7px 1px rgba(4, 81, 81, 0.237) ;
}

header img:hover{
    width: 150px;
    transition: all 0.3s;
    cursor: pointer;
   

}

